html, body {
  cursor: none !important;
  -webkit-tap-highlight-color: transparent; /* voorkomt highlight randjes */
  overflow: hidden;
}

body {
  background-color: var(--color-sand);
  @include font-content;
  color: var(--color-text);
}

h1 { // Title Start
  @include heading-xl;
  color: var(--color-text);
  text-wrap: balance;
}

h2 {
  @include heading-l;
  color: var(--color-text);
  text-wrap: balance;
}

h3 { // Subtitle Start
  @include heading-m;
  color: var(--color-grass);
  text-wrap: balance;
}

h4 {
  @include heading-m;
  color: var(--color-text);
  text-wrap: balance;
}

h5 {
  @include heading-s;
  color: var(--color-grass);
}
