.Button {
  background-color: var(--color-primary);
  color: var(--color-text-light);
  border: 0;
  width: auto;
  min-width: 200px;
  height: 120px;
  cursor: pointer;
  transition: all 0.2s ease;
  border-radius: 20px;
  @include font-content;
  padding-inline: 2rem;

  &:hover,
  &:active {
    outline: none;
    box-shadow: none;
  }

  &:focus,
  &:focus-visible {
    outline: none;
    box-shadow: none;
  }

  // rotate effect:
  transform: rotate(-1deg);
  &:nth-child(2n) {
    transform: rotate(2deg);
    top: 12px;
  }
  &:nth-child(3n) {
    transform: rotate(-1deg);
  }

  // houses
  &::before {
    content: '';
    position: absolute;
    top: -45px;
    left: 30px;
    width: 30px;
    height: 51px;
    background-image: url('../images/house.svg');
    background-size: cover;
    background-position: center;
  }

  &:nth-child(2)::before {
    background-image: url('../images/house2.svg');
    left: 35%;
    top: -45px;
    width: 30px;
    height: 53px;
    transform: scaleX(-1) rotate(6deg);
  }

  &:nth-child(3)::before {
    left: 70%;
    top: -45px;
    transform: scaleX(-1) rotate(6deg);
  }

}
