.Button {
  background-color: var(--color-primary);
  color: var(--color-text-light);
  border: 0;
  width: auto;
  min-width: 200px;
  height: 120px;
  cursor: pointer;
  transition: all 0.2s ease;
  border-radius: 20px;
  @include font-content;
  padding-inline: 2rem;

  &:hover,
  &:active {
    outline: none;
    box-shadow: none;
  }

  &:focus,
  &:focus-visible {
    outline: none;
    box-shadow: none;
  }

  // rotate effect:
  transform: rotate(-1deg);
  &:nth-child(2n) {
    transform: rotate(2deg);
    top: 12px;
  }
  &:nth-child(3n) {
    transform: rotate(-1deg);
  }

}
