.Coin {
  border: 0;
  width: auto;
  padding: 0;
  margin: 0;
  width: 120px;
  height: 120px;
  border-radius: 100%;
  background-color: transparent;
  background-image: url('../images/coin.svg');
  background-repeat: no-repeat;
  background-size: contain;
  color: var(--color-text-light);
  font-weight: var(--font-weight-medium);

  &:hover,
  &:active {
    outline: none;
    box-shadow: none;
  }
}
