.End {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  height: 100%;
  // padding-block: 3rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  width: 100%;

  &__header {
    margin-block-end: auto;
    text-align: center;
    padding-inline: 5rem;
  }

  &__title {
    margin-block-end: 2rem;
  }

  &__button {
    position: absolute;
    bottom: 1rem;
    right: -1rem;
    transform: rotate(14deg);

    & > .Coin {
      width: 150px;
      height: 150px;
      padding: 2rem;
    }
  }
}
