.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-secondary);
  color: var(--color-text-light);
  padding-inline: 2rem;
  height: 12vh;

  .logo {
    width: 240px;
    position: relative;
    top: -3px;
  }

  p {
    font-size: 18px;
    font-weight: bold;
  }
}
