.header {
  width: 100%;
  display: flex;
  // justify-content: space-between;
  justify-content: center;;
  align-items: center;
  color: var(--color-text);
  // padding-inline: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  height: 12vh;

  // .logo {
  //   width: 240px;
  //   position: relative;
  // }

  p {
    font-size: 18px;
    font-weight: bold;
  }
}
