.Stars {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  .star {
    position: absolute;
    width: 20px;
    height: 20px;
    animation: twinkle 2s infinite;
  }

  .star1 {
    left: 10px;
    top: 30px;
  }

  .star2 {
    left: 150px;
    top: 0px;
    animation: twinkle 2.5s infinite 1s;
  }

  .star3 {
    left: 40px;
    top: 140px;
    animation: twinkle 1.5s infinite 1.2s;
  }

  .star4 {
    right: 150px;
    top: 0px;
    animation: twinkle 1.3s infinite 0.8;
  }

  .star5 {
    display: none;
    left: 360px;
    top: 160px;
    animation: twinkle 1.5s infinite 1.1s;
  }

  .star6 {
    right: 10px;
    top: 80px;
    animation: twinkle 2s infinite 1.3s;
  }

  .star7 {
    right: 40px;
    top: 140px;
    animation: twinkle 1.6s infinite 1.1s;
  }

  .star8 {
    left: 300px;
    top: 20px;
    animation: twinkle 2.2s infinite 1s;
  }
}
